name: goreleaser
on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
      - name: run goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
          workdir: pdsadmin
